<header class="header navbar navbar-expand-lg bg-light shadow-sm fixed-top">
    <div class="container px-3">
      <a href="https://dismiro.github.io" class="navbar-brand pe-3">
        <img src="../assets/logo.svg" width="47" alt="S & I    ">
        Signaling & Interlocking
      </a>
      <div id="navbarNav" class="offcanvas offcanvas-end">
        <div class="offcanvas-header border-bottom">
          <h5 class="offcanvas-title">Меню</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="page">Сервисы</a>
              <div class="dropdown-menu p-0">
                <div class="d-lg-flex">
                  <div class="mega-dropdown-column d-flex justify-content-center align-items-center rounded-3 rounded-end-0 px-0" style="margin: -1px; background-color: #f3f6ff;">
                    <img src="../assets/images/landings.jpg" alt="Landings">
                  </div>
                  <div class="mega-dropdown-column pt-lg-3 pb-lg-4" style="--si-mega-dropdown-column-width: 25rem;">
                    <ul class="list-unstyled mb-0">
                      <li><a href="../index.html" class="dropdown-item">Главная страница</a></li>
                      <li><a href="#" class="dropdown-item">Жильность кабеля к МУ <span class="badge bg-success ms-2">Готово</span></a></li>
                      <li><a href="../crossroad/index.html" class="dropdown-item">Параметры извещения переезд <span class="badge bg-warning ms-2">В разработке</span></a></li>
                      <li><a href="../battery_parameters/index.html" class="dropdown-item">Расчет емкости аккумуляторов<span class="badge bg-warning ms-2">В разработке</span></a></li>

                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Справка</a>
              <ul class="dropdown-menu">
                <li><a href="../help.html" class="dropdown-item">Вся платформа</a></li>
                <li><a href="./help.html" class="dropdown-item">Этот модуль</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="../about.html" class="nav-link">О нас</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
        <input type="checkbox" class="form-check-input" id="theme-mode">
        <label class="form-check-label d-none d-sm-block" for="theme-mode">Светлая</label>
        <label class="form-check-label d-none d-sm-block" for="theme-mode">Темная</label>
      </div>
      <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </header>